@model IEnumerable<HLWebRole.HLServiceReference.CommunityDto>
@{
    ViewBag.Title = "Search Result Communities";
    var searchCommunityModel = (HLWebRole.Models.SearchCommunityModel)ViewBag.SearchCommunityModel;
}
<script src="../../Scripts/map-find-location-no-geo-validation.js" type="text/javascript"></script>
<fieldset>
    @Html.ActionLink("Search News >>", "News", "Search", null, new { @class = "button" })
    &nbsp;|&nbsp;
    @Html.ActionLink("Search Users >>", "User", "Search", null, new { @class = "button" })
    <legend>@searchCommunityModel.NumberOfSearchResults Results</legend>
    <div id="wrapper-div">
        <div id="two-columns-left-column">
            @{    
                Html.RenderPartial("_SearchCommunityForm", searchCommunityModel);
            }
        </div>
        <div id="two-columns-right-column">
            <div id="map-div">
                @{
                    Html.RenderPartial("_MapCommunityList", Model);
                }
            </div>
        </div>
    </div>
</fieldset>
<ul id="item-list">
    @{Html.RenderPartial("_CommunityList", Model);}
</ul>
<script type="text/javascript">

    /************* Geocoding against Bing Maps Service (uses the script map-find-location-no-geo-validation.js) ***************/
    $(document).ready
    (
        function () {

            $("#Address").blur
            (
                function (evt) {

                    var address = jQuery.trim($("#Address").val());
                    if (address.length < 1)
                        return;

                    FindAddressOnMap(address);

                }
            );
        }
   );
    /******************** End Geocoding against Bing Maps Service (uses the script map-find-location.js) *********************/

    function mapLoaded() {

        var title = '';
        var address = '';

        LoadPin(center, title, address);
        map.SetZoomLevel(14);
    }


    // Handling the shape.onenddrag event for the draggable pushpin. 
    function EndDragHandler(e) {
        var location = e.LatLong;
        var lat = location.Latitude;
        var long = location.Longitude;

        $("#Latitude").val(lat);
        $("#Longitude").val(long);
    };

</script>
